@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #323232;
  color: #f0f0f0;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 auto;
}

.tile {
  margin: 5px;
  height: 60px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border-style: solid;
  border-color: #3e18bb;
  color: #323232;
  background-color: #e6e6e6;
  box-shadow: 10px;
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
}

.tile#equal {
  background-color: #3e18bb;
  color: #f0f0f0;
}
.calci {
  background-color: #5f41c2;
  padding: 10px;
  border-radius: 15px;
  width: fit-content;
  font-family: Montserrat;
}

.calci div {
  display: flex;
  flex-direction: row;
}
